<h2>Consume HTTP-Service works...!</h2>

<div class="form-grpup">
    <label for=""> Add New</label>
    <input type="text" class="form-control" 
    (keyup.enter)="sendDataToServices(title)" 
    name='post' #title>
</div>
<button class="btn m-2 btn-primary" (click)="getDataFromServices()">Get Post</button>
<!-- <button class="btn m-2 btn-info" (click)="createPost()">Add Post</button> -->

<ul class="list-group">
    <li *ngFor='let post of post; let i =index'
    class="list-group-item">
    <span class="text-info p-2 border">{{i+1}}</span>
    {{post.title}} 
    <button class="btn btn-sm border" (click)="updatePostData(post.id)">Update</button>
    <button class="btn btn-sm border" (click)="deletePostData(post.id)">Delete</button>
</li>
</ul>
